<script>
export default {
  name: "AddResourceForm",
  data(){
    return {
      title: '',
      description: '',
      link: ''
    }
  },
  methods: {
    handleSubmit(){
      console.log('before emit values are ::: ' + this.title + this.description + this.link);
      this.$emit('resource-submitted', this.title, this.description, this.link);

    }
  }
}
</script>

<template>
  <div class="form-container-wrapper">

    <div class="form-container">
      <h1>Submit Your Info</h1>
      <form action="#" method="post" @submit.prevent="handleSubmit">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" v-model="title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" name="description" v-model="description"></textarea>
        </div>
        <div class="form-group">
          <label for="link">Link/URL</label>
          <input type="url" id="link" name="link" v-model="link">
        </div>
        <div class="form-group">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<style scoped>

.form-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px
  }
.form-container {
  background-color: #5C0E2D;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  width: 80%;
  }

.form-container h1 {
  margin-top: 0;
  color: white;
  }

.form-group {
  margin-bottom: 15px;
  }

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  }

.form-group input[type="text"],
.form-group input[type="url"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  }

.form-group input[type="text"]:focus,
.form-group input[type="url"]:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #5C0E2D;
  }

.form-group textarea {
  resize: vertical;
  height: 100px;
  }

.form-group button {
  background-color: white;
  color: #5C0E2D;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  }

.form-group button:hover {
  background-color: #ddd;
  }
</style>