<script>
export default {
  name: "ResourceCard",
  props: {
    id          : Number,
    title       : String,
    description : String,
    link        : String
  }
}
</script>

<template>
<div class="card-container">
  <div class="card">
    <h1 class="card-title">{{ title }}</h1>
    <p class="card-description"> {{ description }}</p>
    <a v-bind:href="link" class="card-link" target="_blank">Read more</a>
    <button class="delete-button" @click="$emit('delete', id)">Delete</button>
  </div>
</div>

</template>

<style scoped>

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  }

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 20px;
  width: 50%;
  position: relative;
  }

.card-title {
  font-size: 1.5em;
  margin: 0;
  }

.card-description {
  margin: 10px 0;
  }

.card-link {
  color: #007BFF;
  text-decoration: none;
  }

.card-link:hover {
  text-decoration: underline;
  }

.delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #5c0e2d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  }

.delete-button:hover {
  background-color: #c82333;
  }
</style>