<script>
export default {
  // some comment
  name: "TheAlert",
  methods: {
    handleOkayClick() {
      this.$emit('close-modal');
    }
  }
}
</script>

<template>

  <div class="alert-dialog-container">
    <div class="alert-dialog">
      <div class="alert-header">Invalid Input</div>
      <div class="alert-message">All fields must be filled</div>
      <div class="alert-button">
        <button @click="handleOkayClick">Okay</button>
      </div>
    </div>
  </div>

</template>

<style scoped>

.alert-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  }

.alert-dialog {
  background-color: #5C0E2DFF;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  }
.alert-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
  }
.alert-message {
  font-size: 1em;
  margin-bottom: 20px;
  }
.alert-button {
  display: flex;
  justify-content: flex-end;
  }
.alert-button button {
  background-color: white;
  color: #5C0E2DFF;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  }
.alert-button button:hover {
  background-color: #e0e0e0;
  }
</style>