<script>
export default {
  name: "TheHeader"
}
</script>

<template>
  <div><h1>Learning Resources App</h1></div>

</template>

<style scoped>
  div {
    background-color: #5f0b2c; /* Change this to your desired color */
    width: 100%; /* Make the div fill 100% of the page width */
    height: 200px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0; /* Position the div at the top */
    left: 0; /* Align the div to the left edge */
    }

    h1 {
    color: #fff; /* Change this to your desired text color */
    font-size: 48px; /* Adjust font size as needed */
    font-weight: bold;
    }
</style>