<script>
export default {
  name: "TheTabs",
  methods: {
    handleAddResource(event) {
      this.$emit('add-resource');
    },
    handleLearningResources(event) {
      this.$emit('learning-resources');
    }
  }
}
</script>

<template>
  <section>
    <div class="tabs-container">

      <div>
        <h2 class="currentSelection" @click="handleLearningResources">Learning Resources</h2>
      </div>
      <div>
        <h2 class="not-selected" @click="handleAddResource">Add Resource</h2>
      </div>
    </div>
  </section>


</template>

<style scoped>

.tabs-container {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px; /* Space from the border to the first and last <h2> */
  text-align: center;
  }

.tabs-container h2 {
  margin: 0 10px; /* Space between the two <h2> elements */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

.not-selected {
  color: #fdfdfe;
  background-color: rgb(92, 14, 45);
  }

.currentSelection {
  color: #ffffff;
  background-color: rgb(14, 92, 45);
  }

.tabs-container h2:hover {
  background-color: darkgray;
  color: black;
  }

section {
  text-align: center; /* Center the text inside the section */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  }




</style>