<template>
    <theHeader></theHeader>
    <the-tabs
        @add-resource       ="viewForm"
        @learning-resources ="viewResources">
    </the-tabs>
    <add-resource-form v-if="isAddResourceFormVisible" @resource-submitted="handleResourceAdded"></add-resource-form>

    <div class="cards-container" v-if="areLearningResourcesCardsVisible && !isAddResourceFormVisible && learningResources.length>0">
      <resource-card v-for       = "learningResource in learningResources"
                    :key         = "learningResource.id"
                    :id          = "learningResource.id"
                    :title       = "learningResource.title"
                    :description = "learningResource.description"
                    :link        = "learningResource.link"
                    @delete      = "handleDelete"
      ></resource-card>
    </div>

    <div v-if="showModal && isAddResourceFormVisible">
      <the-alert @close-modal="showModal = false"></the-alert>
    </div>


</template>

<script>
// import components
import theHeader from "@/components/TheHeader.vue";
import theTabs from "@/components/TheTabs.vue";
import resourceCard from "@/components/ResourceCard.vue";
import addResourceForm from "@/components/AddResourceForm.vue";
import theAlert from "@/components/TheAlert.vue";

export default {
  components: {
    theHeader,
    theTabs,
    resourceCard,
    addResourceForm,
    theAlert
  },
  data(){
    return{
      isAddResourceFormVisible: false,
      areLearningResourcesCardsVisible: false,
      learningResources: [],
      counter: 0,
      showModal: false
    }
  },
  methods: {
    handleResourceAdded(title, desc, link) {
      if(!title || !desc || !link){
        this.showModal = true;
        return
      }
      this.counter++;
      const newResource = {
        id: this.counter,
        title: title,
        description: desc,
        link: link
      };
      this.learningResources.push(newResource);
      this.viewResources();
    },
    viewForm(){
      this.isAddResourceFormVisible = true;
      this.areLearningResourcesCardsVisible = false;
    },
    viewResources(){
      this.isAddResourceFormVisible = false;
      this.areLearningResourcesCardsVisible = true;
    },
    handleDelete(id){
      this.learningResources = this.learningResources.filter((learningResource) => learningResource.id !== id);
    }
  }
}

</script>



<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  }

html {
  font-family: 'Roboto', sans-serif;
  }

body {
  margin: 0;
  }

</style>
